:root {
    --cor-de-fundo: #116daa;
}

body {
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: #4e1261;
    color: rgb(41, 139, 110);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho-menu{
    background-color: var(--fundo-menu)
}
.cabecalho-menu-item{
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color:rgb(41, 139, 110)
    text-align: center;
    border-top: 1px solid;
}